html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

.tools {
    width: 100%;
    height: 100%;
}

.tools-pane {
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 30, 1);
}

::-webkit-scrollbar {
    width: 0;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
}

.lol {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lol-top {
    height: 25px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: rgba(0, 0, 0, 0.4);
}

.lol-top-drag {
    width: 100%;
    height: 25px;
    -webkit-app-region: drag;
    cursor: pointer;
    cursor: hand;
}

.lol-top-item {
    padding: 5px 10px;
    width: 40px;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
    cursor: hand;
}

.lol-main {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
}