.jiban {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jiban-content {
    flex: 1;
}

.jiban-right {
    width: 100%;
    /* height: 100%; */
    overflow: auto;
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.jiban-right-btn {}

.jiban-right-pane {
    position: absolute;
    right: -40px;
    bottom: 0;
}

.jiban-right-item {
    position: relative;
}

.jiban-right-item>img {
    border-radius: 50px;
    border: 4px solid #ffa600;
    width: 40px;
}